* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*tema 1 {padrão}*/
    --theme1-bg: hsl(222, 26%, 31%);
    --theme1-keypad-bg: hsl(223, 31%, 20%);
    --theme1-screen-bg: hsl(224, 36%, 15%);
    --theme1-key-bg: hsl(30, 25%, 89%);
    --theme-key-shadow: hsl(28, 16%, 65%);
    --theme1-action-bg: hsl(225, 21%, 49%);
    --theme1-action-shadow: hsl(224, 28%, 35%);
    --theme1-equals-bg: hsl(6, 63%, 50%);
    --theme1-equals-shadow: hsl(6, 70%, 34%);
    --theme1-text: hsl(0, 0%, 100%);
    --theme1-key-text: hsl(221, 14%, 31%);
    /*tema2*/

    --theme2-bg: hsl(221, 71%, 41%);
    --theme2-keypad-bg: hsl(223, 31%, 20%);
    --theme2-screen-bg: hsl(224, 36%, 15%);
    --theme2-key-bg: hsl(30, 25%, 89%);
    --theme2-key-shadow: hsl(28, 16%, 65%);
    --theme2-action-bg: hsl(225, 21%, 49%);
    --theme2-action-shadow: hsl(224, 28%, 35%);
    --theme2-equals-bg: hsl(6, 63%, 50%);
    --theme2-equals-shadow: hsl(6, 70%, 34%);
    --theme2-text: hsl(0, 0%, 100%);
    --theme2-key-text: hsl(221, 14%, 31%);



    --theme3-bg: hsl(222, 26%, 31%);
    --theme3-keypad-bg: hsl(223, 31%, 20%);
    --theme3-screen-bg: hsl(224, 36%, 15%);
    --theme3-key-bg: hsl(30, 25%, 89%);
    --theme3-key-shadow: hsl(28, 16%, 65%);
    --theme3-action-bg: hsl(225, 21%, 49%);
    --theme3-action-shadow: hsl(224, 28%, 35%);
    --theme3-equals-bg: hsl(6, 63%, 50%);
    --theme3-equals-shadow: hsl(6, 70%, 34%);
    --theme3-text: hsl(0, 0%, 100%);
    --theme3-key-text: hsl(221, 14%, 31%);
}

body {
    font-family: 'league Spartan', sans-serif;
    background-color: var(--theme1-bg);
    color: var(--theme1-text);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.calculator-container {
    height: 640px;
    width: 600px;
}

h1 {
    font-weight: bold;
}

span {
    font-size: 18px;
    margin-top: auto;
    ;
}

.header {
    display: flex;
    align-items: center;
    background-color: var() hsl(220, 100%, 22%);
    justify-content: space-between;
    margin: 0 30px;
}

.theme-switcher {
    display: flex;
    align-items: center;
    margin-left: 220px;
    gap: 15px;
    justify-content: end;
}

.theme-controls {
    align-items: center;
    width: 80px;
    ;
}

.theme-numbers {
    gap: 20px;
    font-size: 20px;
}

.theme-toggle {
    height: 21px;
    width: 55px;
    background-color: rgb(40, 58, 58);
    border-radius: 20px;
    background-color: var();
}

.toggle-ball {
    height: 13px;
    width: 13px;
    background-color: #b12121;
    border-radius: 55%;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin: 10px 30px;
    background-color: var(--theme1-screen-bg);
    border-radius: 3%;
    margin-bottom: 25px;
}

.result {
    justify-content: flex-end;
    margin-left: 420px;
    font-size: 25px;
}

.keypad {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: auto;
    height: 440px;
    padding: 6px;
    margin: 0 30px;
    background-color: var(--theme1-keypad-bg);
    border-radius: 3%;
    margin-bottom: 20px;
}

.key {
    width: 100px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    margin: 1%;
    color: var(--theme1-key-text);
    background-color: var(--theme1-key-bg);
    font-size: 25px;
    cursor: pointer;
}

.span-2 {
    background-color: var(--theme1-equals-bg);
    height: 70px;
    width: 210px;
    border-radius: 15px;
    margin-bottom: 2px;
}

.span-3 {
    background-color: var(--theme1-equals-bg);
    height: 70px;
    width: 210px;
    border-radius: 15px;
}

.key-operator {}